* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  height: 80vh;
}

.grid-container.details {
  max-width: 600px;
  margin: 0 auto;
  grid-template-columns: 90%;
  padding: 2em;
  border: 2px solid rgb(190, 190, 190);
  box-shadow: #780e0e;
}

img {
  width: 100px;
  height: 100px;
}

.grid-container h2 {
  margin-top: 10px;
  margin-bottom: -4px;

}

.grid-container span {
  font-weight: 600;
  font-size: small;
}

.grid-container p {
  margin-top: 10px;
  margin-bottom: 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  padding-right: 10px;
}


.page-link {
  background-color: rgb(52, 52, 52);
  padding: 15px;
  font-size: 10px;
  color: #fff;
}

.page-link:hover {
  background-color: grey;
}


.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}


.form-control div {
  position: relative;
}

.form-control input {
  border: none;
  width: 100% !important;
  padding-right: 40px;
}

.form-control input:focus {
  outline: none;
}

.btn {
  position: absolute;
  top: -7px;
  right: -40px;
  width: 51px;
  background-color: rgb(18, 18, 18);
  color: #fff;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn:hover {
  background-color: rgb(120, 120, 120);
  color: #fff;
}

.close {

  background: none;
  border: none;
  position: absolute;
  right: 40px;
  top: auto;

  align-items: center;
}

a {
  text-decoration: none;
}



@media only screen and (max-width: 650px) {

  .wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
}